<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>负值法三列布局</title>

    <style>
      html,body{margin:0; height:100%;min-width: 800px}

      #left,#main,#right{
        height: 100%;
        background: red;
        float:left;
      }

      #left,#right{
        width: 300px;
      }

      #main{
        width: 100%;
        background: green;
      }

      #main #content{
        margin:0 300px;
      }

      #left{
        background: yellow;
        margin-left: -100%;
      }

      #right{
        margin-left:-300px;
      }




    </style>
  </head>
  <body>

    <div id="main">
      <div id="content">
        xxx
      </div>
    </div>
    <div id="left">

    </div>

    <div id="right">

    </div>
  </body>
</html>
